.imbattables{
    display: flex;
    margin-bottom: 50px;
  
    
}

li{
    padding: 10px;
    border-radius: 20px;
    list-style-type: none;
    -webkit-box-shadow: -2px 15px 32px 2px rgba(184,171,184,0.82);
-moz-box-shadow: -2px 15px 32px 2px rgba(184,171,184,0.82);
box-shadow: -2px 15px 32px 2px rgba(184,171,184,0.82);
}

.imbattables li{
    margin-left: 170px;
}


.photo{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 350px;
    height: 200px;
}


.promo{
    margin-top: -200px;
    transform: translateX(300px);
    position: absolute;
    width: 30px;
    background-color: yellow;
    height: 20px;
    padding: 10px;
    border-radius: 30px;
}

.prix{
    text-align: right;
}

table tr th{
    border: 1px solid black;
    width: 20%;
   
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.bouton-bleu {
    
    border: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 35px 15px 35px;
    background-color: rgb(0, 50, 252);
    margin-right: 30px;
    box-shadow: 1px 2px 3px 1px #0101ff;
}

.bas{
    border: none;
}

.bouton-bleu:hover{
    transition: 2ms;
    transform: scale(1.05);
    
}



table{
    border-collapse:collapse;
    display: inline;
    margin-left: 200px;
    margin-top: -274px;
    position: absolute;
    transform: translate(-110px);
    background-color: #D9F8FF;
}

table caption{
    margin-bottom: 32px;
}

.premiere-ligne{
    border-top: none;
}

.famille1{
    width: 36%;
    display: block;
}

.famille2{
    width: 36%;
    display: inline;
    margin-bottom: 60px;
}

.tableau-acceuil{
    margin-left: 100px;
}




footer{
    width: 100%;
    display:flex;
    background-color: #1ec5ba
}

.nous{
    
   
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
}

.nous p{
    color: aliceblue;
    padding-top: 20px;
}

.nous p a{
    text-decoration: none;
    color: aliceblue;
}

.mentions{
    width: 20%;
    display: block;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 20px;
}

.mentions p{
    padding-top: 20px;
}
.mentions p a{
    text-decoration: none;
    color: aliceblue;
}

.reseau{
    width: 180px;
}

.paiement-securisé{
  transform: translateX(100px);
  margin-right: 120px;
  
   text-align: center;
}

.info{
    color: aliceblue;
    padding-top: 50px;
    margin-bottom: 60px;
    font-size: 20px;
}

.numero{
    color: aliceblue;
    font-size: 20px;
}

.paiement{
    padding-top:50px;
    width: 60%;
    transform: translateX(20px);
}