* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}
header{
    background-image: url("mer2.jpg");
    width:100%;
    height: 500px;
    background-size: 160%;
    background-position-y: 60%;
    background-position-x: 90%;
    background-repeat: no-repeat;
    z-index: 4;
}
.logo{
    float: left;
    margin-top: -30px;
    margin-right: -40px;
    margin-left: 150px;
    width: 10%;
}
h3{
    color: #ffe600;
    padding-bottom: 30px;
    padding-top: 50px;
}
:root{
    --hauteur-menu: 60px;
}
  nav {
    width: 75%;
    font-size: 18px;
    position: sticky;
    top: 0;
}
nav > ul {
    margin-top: 70px;
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }  
  nav ul {
    list-style-type: none;
  }
  nav > ul > li {
    background-color:  rgb(33, 178, 210);
    position: relative;
    height: 100%;
    flex: 1;
  }
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  li a {
    text-decoration: none;
    color: black;
  }
  .menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: rgb(33, 178, 210);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    position: relative;
    z-index:3;
  } 
  .sous-menu > li > a {
    height: 30px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }
  nav > ul > li:hover > a{
    color: #fafafa;
  }
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid rgb(33, 178, 210);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #21ece8;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }
  form{
      padding-top: 50px;
  }
  .soleil{
      margin-top: -100px;
      float: right;
      width: 25%;
      height: 60%;
      z-index: 1;
}
form{
    margin-top: 70px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 150px;
    padding-right: 25px;
    background-color: rgb(33, 178, 210);
    position: absolute;
    width: 100%;
    z-index: 2;
}
span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    border-color: 
}