* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}
header{
    background-image: url("mer2.jpg");
    width:100%;
    height: 350px;
    background-size: 160%;
    background-position-y: 90%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    z-index: 4;
}
.logo{
    float: left;
    margin-top: -30px;
    margin-right: -40px;
    margin-left: 50px;
    width: 10%;
}
header #logo{
  transition: all 0.2s ease-in-out;
}
#logo:hover img:first-child {
  animation: logo-animation 0.5s ease-in;
} 
@keyframes logo-animation{
  20% {
      transform: rotate(15deg);
    }
  40% {
      transform: rotate(-15deg) ;
  }
  60% {
      transform: rotate(5deg);
    }
  80% {
      transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
}
  }
.menu_bouton_burger{
  display: none;  
}
h3{
    font-size: x-large;
    font-family:sans-serif;
    color: #242491;
    padding-top: 40px;
}
:root{
    --hauteur-menu: 60px;
}
nav {
    margin-top: 90px;
    margin-left: 25px;
    width: 75%;
    font-size: 18px;
    position: sticky;
    top: 0;   z-index: 3;
    position: absolute;
}
nav > ul {
    margin-top: 70px;
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu); 
 
  }  
  nav ul {
    list-style-type: none;
  }
  nav > ul > li {
    background-color:  rgba(33, 178, 210, 0.614);
    position: relative;
    height: 100%;
    flex: 1;
  }
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  li a {
    text-decoration: none;
    color: black;
  }
  .menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block; 
    opacity: 0.5;
  }
  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: rgba(17, 156, 187, 0.96);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  } 
  .sous-menu > li > a {
    height: 30px;
    padding-left: 70px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
    display: flex; 
  }
  nav > ul > li:hover > a{
    color: #fafafa;
  }
  .sous-menu > li > a:hover{
    color:#fafafa;
  }
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid rgb(33, 178, 210);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #21ece8;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }
.connexion_inscription a{
  text-decoration: none;
  color: rgb(15, 10, 108);
  margin-left: 50%;
  line-height: 2em;
}
.soleil{
      margin-top: -80px;
      float: right;
      width: 20%;
      height: 80%;
      z-index: 1;
      opacity: 0.9;
}
header p{
      margin-top: 10px;
      font-size: 22px;
      line-height: 2em;
      margin-top: 10px;
      margin-left: 88%;
      text-align: center;
      position: absolute;
      color: #fafafa;
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 1%;
  margin-bottom: 5px;
  background-color: rgba(33, 178, 210, 0.582);
  width: 100%;
  z-index:1;
}
input, select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;
  padding-left: 10px;
  box-shadow: 10px 10px 3px rgba(10, 91, 132, 0.568);
}
input:focus{
    outline: none;
}
.jours{
    width: 5%;
}
form>button{
    border: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 35px 15px 35px;
    background-color: rgb(0, 50, 252);
    margin-right: 30px;
    box-shadow: 1px 2px 3px 1px #0101ff;
}
button:hover{
    transform:scale(1.05);
    transition: 2ms;
}
#slider{
  height: 480px;
}
div#slider { 

  max-width: 1000px; 
  z-index: 1;
}
div#slider figure {
  position: relative; 
  padding: 0;
  font-size: 0;
  text-align: center;
}
div#slider figure img { 
  width: 20%; 
  height: 80%; 
  float: left; 
  z-index: 1;
}
div#slider { 
  width: 100%; 
  max-width: 1000px; 
  overflow: hidden 
}
@keyframes slidy {
  0% { left: 0%; 
  }
  20% { left: 0%; 
  }
  25% { left: -100%; 
  }
  45% { left: -100%; 
  }
  50% { left: -200%; 
  }
  70% { left: -200%; 
  }
  75% { left: -300%; 
  }
  95% { left: -300%; 
  }
  100% { left: -500%; 
  }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 20s slidy infinite;
}
